<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
    <% include ./partials/_header %>
  </header>




    <ul>
      <a href=/urls/new>Shorten your URL</a>

      <% for (var url in urls) { %>
      <li>Short URL: <%= url %> Long URL: <a href=<%= urls[url] %>><%= urls[url] %></a>
          <form method="GET" action="/urls/<%= url %>">
          <input type="submit" value="EDIT"></form>
          <form method="POST" action="/urls/<%= url %>/delete">
          <input type="submit" value="DELETE"></form>
      </li>
      <% }; %>

    </ul>



</body>
</html>


