<!-- views/urls_show.ejs -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <title>TinyApp Short URL</title>
    <style>
      .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
      }
    </style>
  </head>

  <body>

    <header>
      <% include ./partials/_header %>
    </header>

    <center><%= shortURL %></center><br>
    <center><a href= <%= longURL %> > <%= longURL %> </a></center><br>
    <center>Site visits: <%= visits %></center><br>
    <center>Unique Visits: <%= uniqueVisits.length %></center><br>
    <center>User Timestamp: <%= timeStamp.join(", ") %></center><br>
    <center><form action="/urls/<%= shortURL %>" method="POST">
    <input id="longURL" type="text" name="longURL" placeholder= "http://"><br>
    <input type="submit" class="button" value="UPDATE">
    </form></center>
    <center><form action="/urls" method="GET">
    <input type="submit" class="button" value="VIEW YOUR URLS">
    </form></center>

  </body>

</html>

